@import "../assets/colors.scss";

.navbar {
    position: fixed;
    height: 100vh;
    display: flex;

    .icons,
    .tags,
    .settings {
        display: flex;
        flex-direction: column;
        background: rgb(27, 153, 139);
        background: linear-gradient(
            180deg,
            rgba(27, 153, 139, 1) 0%,
            rgba(27, 117, 138, 1) 100%
        );
    }

    .icons {
        width: 50px;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        a {
            color: white;
            opacity: 0.75;
            font-size: 20px;
            transition: 0.2s ease-in-out;
        }

        a:nth-child(2),
        a:nth-child(3),
        a:nth-child(4),
        a:nth-child(5) {
            margin-bottom: 50px;
        }

        a:nth-child(1) {
            position: absolute;
            top: 5%;
            cursor: pointer;
        }

        a:nth-child(7) {
            position: absolute;
            bottom: 5%;
            cursor: pointer;
        }

        a:nth-child(1),
        a:nth-child(7) {
            &:hover {
                color: $orange;
            }
        }
    }

    .tags {
        width: 100px;
        height: 95%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: 5px;
        align-self: center !important;
        border-radius: 5px;
        padding: 15px;
        z-index: 1;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2),
            0 21px 40px 0 rgba(0, 0, 0, 0.3);

        span {
            color: white;
            opacity: 0.75;
            font-size: 14px;
            transition: 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $orange;
            }
        }

        span:nth-child(2) {
            position: absolute;
            top: 23.5%;
        }

        span:nth-child(3) {
            position: absolute;
            top: 36.5%;
        }

        span:nth-child(4) {
            position: absolute;
            top: 48.5%;
        }

        span:nth-child(5) {
            position: absolute;
            top: 61.5%;
        }

        span:nth-child(6) {
            position: absolute;
            top: 73.75%;
        }

        span:nth-child(1) {
            position: absolute;
            top: 3.75%;
            cursor: pointer;
        }

        span:nth-child(7) {
            position: absolute;
            bottom: 3.5%;
            cursor: pointer;
        }
    }

    .settings {
        width: 150px;
        height: 100px;
        position: absolute;
        bottom: 0;
        left: 50px;
        border-radius: 5px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 15px;
        margin-left: 5px;
        margin-bottom: 10px;
        z-index: 1;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2),
            0 21px 40px 0 rgba(0, 0, 0, 0.3);

        span {
            font-size: 14px;
            color: white;
            cursor: pointer;

            &:hover {
                color: $orange;
            }
        }
    }
}
